* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #dae4fb;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding: 20px;
    flex: 1;
}

#searchBar {
    width: 100%;
    max-width: 400
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filters button,
.filters input[type="date"] {
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #223e84;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #75a9cc;
}

/* Table */
#patientTable {
    width: 100%;
    border-collapse: collapse;
}

#patientTable thead {
    background-color: rgba(0, 0, 0, 0, 0.6);
    color: #000000;
}

#patientTable th,
#patientTable td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: left;
}

#patientTable tbody tr:nth-child(even) {
    background-color: #000000;
}

#patientTable tbody tr:hover {
    background-color: #000000;
}

.prescription-btn {
    padding: 8px 12px;
    background-color: #223e84;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

.prescription-btn:hover {
    transform: scale(1.05);
    filter: brightness(110%);
}

.noPatientRecord {
    color: gray;
    font-style: italic;
    margin-top: 20px;
}

@media (max-width: 768px) {
    #searchBar, .filters input, .filters button {
        width: 100%;
        margin-bottom: 10px;
    }

    .filters {
        flex-direction: column;
    }
}